@use '../themes/defaultThemes' as *;
@use '../util' as *;

.navbar {
  background: $black;
  box-shadow: $light-shadow;
  .nav-center {
    .nav-header {
      @include flex-space;
      padding: 1rem;
    }
    .nav-toggle {
      font-size: 1.5rem;
      color: $primary-4;
      transition: $transition;
      &:hover {
        color: $primary-6;
        transform: rotate(90deg);
      }
    }
    .logo {
      height: 30px;
    }
    .links-container {
      height: 0;
      overflow: hidden;
      &.show {
        height: auto;
      }
      .links a {
        color: $primary-3;
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: $spacing;
        display: block;
        padding: 0.5rem 1rem;
        transition: $transition;
        border-radius: $radius;
        &:hover {
          background: $grey-7;
          padding-left: 1.5rem;
        }
        &:visited {
          color: $primary-3;
        }
        
      }
    }
    .socials {
      display: flex;
      justify-content: space-around;
      height: 0;
      overflow: hidden;
      a {
        color: $primary-5;
        &:hover {
          color: $primary-7;
          &:visited {
            color: $primary-7;
          }
        }
        &:visited {
          color: $primary-5;
        }
      }
      &.show {
        height: auto;
      }
      li {
        margin: 0 1rem;
      }
    }
  }
}

@include tablet {
  .navbar {
    .nav-center {
      max-width: 1200px;
      @include center-auto;
      @include flex-space;
      padding: 1rem;

      .logo {
        height: 40px;
      }

      .nav-header {
        padding: 0;
      }

      .nav-toggle {
        display: none;
      }

      .links-container {
        height: auto;
        .links {
          display: flex;
          a {
            padding: 0.5rem 1rem;
            margin: 0.1rem;
            &:hover {
              padding: 0.5rem 1rem;
            }
          }
        }
      }


      .socials {
        display: flex;
        height: auto;
        a {
          margin: 0 0.5rem;
          transition: $transition;
        }
      }
    }
  }
}
