// Primary Colors

$primary-0: hsl(0, 70%, 16%);
$primary-1: hsl(0, 70%, 24%);
$primary-2: hsl(0, 70%, 32%);
$primary-3: hsl(0, 70%, 40%);
$primary-4: hsl(0, 70%, 48%);
$primary-5: hsl(0, 70%, 56%);
$primary-6: hsl(0, 70%, 64%);
$primary-7: hsl(0, 70%, 72%);
$primary-8: hsl(0, 70%, 80%);
$primary-9: hsl(0, 70%, 88%);

// Secondary Colors

// $secondary-0: hsl(30, 100%, 21%);
// $secondary-1: hsl(30, 100%, 29%);
// $secondary-2: hsl(30, 100%, 37%);
// $secondary-3: hsl(30, 100%, 45%);
// $secondary-4: hsl(30, 100%, 52%);
// $secondary-5: hsl(30, 100%, 60%);
// $secondary-6: hsl(30, 100%, 67%);
// $secondary-7: hsl(30, 100%, 74%);
// $secondary-8: hsl(30, 100%, 81%);
// $secondary-9: hsl(30, 100%, 88%);

// grey Colors

$grey-0: hsl(210, 20%, 21%);
$grey-1: hsl(210, 20%, 29%);
$grey-2: hsl(210, 20%, 37%);
$grey-3: hsl(210, 20%, 45%);
$grey-4: hsl(210, 20%, 52%);
$grey-5: hsl(210, 20%, 60%);
$grey-6: hsl(210, 20%, 67%);
$grey-7: hsl(210, 20%, 74%);
$grey-8: hsl(210, 20%, 81%);
$grey-9: hsl(210, 20%, 88%);

//misc Colors

$white: #fff;
$transwhite: rgba(255, 255, 255, .70);
$black: #000;
$red-dark: hsl(0, 80%, 40%);
$red-light: hsl(0, 67%, 67%);
$green-dark: hsl(125, 80%, 40%);
$green-light: hsl(125, 67%, 67%);
$blue-dark: hsl(240, 80%, 40%);
$blue-light: hsl(240, 67%, 67%);