@use '../themes/defaultThemes' as *;
@use '../util' as *;

.contact {
  min-height: Calc(100vh - 80px - 7rem);
  margin-top: 1rem;
  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .nforums {
    @include flex-center;
    padding: 1rem 1rem;
    margin-bottom: 1%;
    .fname {
      background-color: rgb(255, 255, 230);
      border: 2px solid grey;
      border-radius: $radius;
      width: 40%;
      height: 2rem;
      margin-right: 1%;
    }
    .lname {
      background-color: rgb(255, 255, 230);
      border: 2px solid grey;
      border-radius: $radius;
      width: 40%;
      height: 2rem;
    }
  }

  .eforums {
    @include flex-center;
    padding: 1rem 1rem;
    margin-bottom: 1%;
    .email {
      background-color: rgb(255, 255, 230);
      border: 2px solid grey;
      border-radius: $radius;
      width: 40%;
      height: 2rem;
      margin-right: 1%;
    }
    .subject {
      background-color: rgb(255, 255, 230);
      border: 2px solid grey;
      border-radius: $radius;
      width: 40%;
      height: 2rem;
    }
  }

  .question {
    @include flex-center;
    padding: 1rem 1rem;
    margin-bottom: 1%;

    .questinput {
      background-color: rgb(255, 255, 230);
      border: 2px solid grey;
      border-radius: $radius;
      width: 40%;
      height: 10rem;
    }
  }

  .bcontainer {
    text-align: center;
    .finish {
      border-radius: $radius;
      border: 2px solid grey;
      background-color: $primary-4;
      color: white;
      width: 10rem;
      height: 2rem;
      margin-bottom: 1%;
    }
  }
}
