@use '../themes/defaultThemes' as *;
@use '../util' as *;

.error{
  min-height: Calc(100vh - 80px - 6rem);
  width: 100%;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-items: center;
.text{
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  color: $primary-5;
  font-size: 4rem;
  text-align: center;
}
}