@use '../themes/defaultThemes' as *;
@use '../util' as *;

.home{
  min-height: Calc(100vh - 80px - 8rem);
  margin-top: 1rem;
  .header{
    h1{
      font-size: 2rem;
      color: $black;
      margin: 1rem auto;
      width: 80vw;
      text-align: center;
    }
    .img{
      margin: 0 auto;
      width: fit-content;
      width: 80vw;
      max-width: 1000px;
    }
  }
}