.image{
    width: 15rem;
    height: 15rem;
    margin-right: 1.5%;
    margin-bottom: 1%;
}

.photos{
    padding: 1rem 1rem;
    width: 90%;
    margin: 0 auto;
}

.title{
    font-size: 2rem;
    text-align: center;
    margin-top: 1%;
}